.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
 
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.task-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.done-btn, .remove-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  margin-top: 0.4rem;
  background-color: rgb(10, 114, 36);
  color: #faf5f5;
  border-radius: 5px;


}
button:hover{
  background-color: rgb(85, 163, 118);
}
.task {
  width: 100%;
  padding: 1rem;
  background-color:  rgb(238, 241, 236);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.done {
  background-color: rgb(217, 223, 215);
  text-decoration: line-through;

}

.add-task-input{
  width: 100%;
  padding: 1rem;
  background-color:  rgb(238, 241, 236);
  border-radius: 5px;
  display: flex;
  
  align-items: center;
  margin-top: 1rem;
}